.details-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-delete-wrap {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
    width: 100%;
}